.restaurant-card {

  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  border-radius: 5px; /* 5px rounded corners */

  padding: 2px 16px;
  margin: 20px;

  .row {
    display: block;
  }

  .restaurant-name{
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
  }

  .cuisine-font {
    font-family: ef_cuisinesregular;
    font-size: 50px;
    margin: 10px;

    float: left;
    vertical-align: middle;
  }

  /* 10 Bis Icon */
  .icon-10bis {
    content: url(10bis.png);
    margin: 5px;
    height: 20px;
    width: 20px;
  }

}

/* On mouse-over, add a deeper shadow */
.restaurant-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



